:root {
  --main-bg-color: #32194a;
  --purple2: #47246b;
  --purple3: #411a62;
  --secondary-color: #54F7A8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

