:root {
  --main-bg-color: #1f1f1f;
  --bg-lighter1: #313131;
  --bg-lighter2: #4d4d4d;
  --bg-darker1: #181818;
  --bg-darker2: #151515;
  --bg-darker3: #161616;
  --secondary-color: #05D9FF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.toolbox-button {
  color: white;
  text-align: center;
  padding: 7px;
  background-color: var(--bg-lighter1);
  border: 1px solid var(--bg-darker2);
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    background-color: var(--secondary-color);
    color: black;
  }
}

